@let _data = data();

<mat-tab-group [style.width]="width" animationDuration="0ms">
  @if (_data) {
    @for (tab of _data.tabs; track tab.icon) {
      <mat-tab [disabled]="tab.nodes.length === 0">
        <ng-template mat-tab-label class="mat-tab-label">
          @if (tab.icon.length > 0) {
            <mat-icon class="badge-{{tab.icon}}" [svgIcon]="tab.icon" [matTooltip]="tab.alt"></mat-icon>
          } @else {
            <div>
              <mat-icon class="badge-class" svgIcon="class" matTooltip="Classes"></mat-icon>
              <mat-icon class="badge-struct" svgIcon="struct" matTooltip="Structs"></mat-icon>
            </div>
          }
          <span class="count">{{tab.nodes.length}}</span>
        </ng-template>

        <ng-template matTabContent>
          <mat-divider></mat-divider>

          @if (tab.icon === 'function') {
            <div class="setting">
              <a class="stx stx-type" routerLink="/f">
                Global functions
              </a>

              <mat-slide-toggle class="align"
                                color="primary"
                                matTooltip="Show/hide operators and casts"
                                [formControl]="ignoreDuplicate">
                {{ignoreDuplicate.value ? "Hide" : "Show"}}
              </mat-slide-toggle>
            </div>

            <mat-divider></mat-divider>
          }

          <cdk-virtual-scroll-viewport [itemSize]="_data.itemSize">
            <a *cdkVirtualFor="let node of tab.nodes"
               class="stx stx-type"
               [class.disabled]="node.isEmpty"
               [title]="node.name"
               [routerLink]="node.uri">
              {{node.name}}
            </a>
          </cdk-virtual-scroll-viewport>
        </ng-template>
      </mat-tab>
    }
  }
</mat-tab-group>

<div class="slider"
     title="Double-click to restore default position"
     (dblclick)="onRestoreDefault()"
     (mousedown)="onStartResizing()">
  <mat-divider vertical></mat-divider>
</div>
