@if (data$ | async; as data) {
  <ndb-title-bar [title]="data.name"
                 [node]="data.object"
                 [hideDocumentation]="data.hideDocumentation"
                 [hasDocumentation]="data.hasBodyDocumentation"
                 (toggleDocumentation)="toggleDocumentation()">
    <mat-icon class="badge" [attr.data-scope]="data.scope" svgIcon="scope" [matTooltip]="data.scope"></mat-icon>
    @if (data.isAbstract) {
      <mat-icon class="badge" svgIcon="abstract" matTooltip="abstract"></mat-icon>
    }<!--
      @if (data.isFinal) {
        <mat-icon class="badge" svgIcon="final" title="final"></mat-icon>
      }-->
    @if (data.object.origin === nativeOrigin) {
      <mat-icon class="badge" svgIcon="native" matTooltip="native"></mat-icon>
    } @else if (data.object.origin === importOnlyOrigin) {
      <mat-icon class="badge" svgIcon="importonly" matTooltip="importonly"></mat-icon>
    } @else {
      <mat-icon class="badge" svgIcon="static" matTooltip="script"></mat-icon>
    }
    @if (!data.object.isStruct) {
      <mat-icon class="badge-class" svgIcon="class" matTooltip="class"></mat-icon>
    } @else {
      <mat-icon class="badge-struct" svgIcon="struct" matTooltip="struct"></mat-icon>
    }
  </ndb-title-bar>

  @if (showDocumentation) {
    <ndb-documentation [data]="{documentation: data.documentation, main: true}"
                       (documented)="changeDocumentation($event)"
                       (closed)="toggleDocumentation()"></ndb-documentation>
  }

  <cdk-accordion multi="true">
    @if (data.showParents) {
      <ndb-accordion-item [expanded]="data.parents.length > 0"
                          [disabled]="data.parents.length === 0">
        <div header>
          <h3>Inherits</h3>
          <mat-chip [highlighted]="data.parents.length > 0"
                    [disabled]="data.parents.length === 0"
                    [disableRipple]="true">{{data.parents.length}}</mat-chip>
        </div>

        @for (parent of data.parents; track parent.id) {
          <div class="inheritance stx">
            <div class="align" [style.width]="data.align"></div>
            <mat-icon>subdirectory_arrow_right</mat-icon>
            <type-span [node]="parent" [isEmpty]="data.highlightEmpty && parent.isEmpty"></type-span>
          </div>
        }
      </ndb-accordion-item>
    }

    @if (data.showChildren) {
      <ndb-accordion-item [disabled]="data.children.length === 0">
        <div header>
          <h3>Inherited by</h3>
          <mat-chip [highlighted]="data.children.length > 0"
                    [disabled]="data.children.length === 0"
                    [disableRipple]="true">{{data.children.length}}</mat-chip>
        </div>

        @for (child of data.children; track child.id) {
          <div class="inheritance stx">
            <div class="align" [style.width]="data.align"></div>
            <mat-icon>subdirectory_arrow_left</mat-icon>
            <type-span [node]="child" [isEmpty]="data.highlightEmpty && child.isEmpty"></type-span>
          </div>
        }
      </ndb-accordion-item>
    }

    @if (data.showProperties) {
      <ndb-accordion-item [class.sticky]="data.isPinned"
                          [expanded]="data.properties.length > 0"
                          [disabled]="data.properties.length === 0">
        <div header>
          <h3>Properties</h3>
          <mat-chip [highlighted]="data.properties.length > 0"
                    [disabled]="data.properties.length === 0"
                    [disableRipple]="true">{{data.properties.length}}</mat-chip>
        </div>

        <div actions>
          @for (badge of badgesProperty; track badge.title) {
            <mat-icon class="badge"
                      [svgIcon]="badge.icon"
                      matTooltip="Filter by {{badge.title}}"
                      [attr.data-scope]="badge.dataScope"
                      [class.disabled]="!badge.isEnabled"
                      (click)="togglePropertyFilter(badge)"></mat-icon>
          }

          <mat-icon class="button"
                    matTooltip="Reset filter"
                    [class.disabled]="disableResetFilterProperties"
                    (click)="resetPropertiesFilter()">highlight_off</mat-icon>
        </div>

        @for (prop of data.properties; track prop.name) {
          <property-span ndbHighlight
                         [id]="prop.id"
                         [node]="prop"
                         [badges]="data.badges"></property-span>
          @if (data.isMobile && !$last) {
            <mat-divider></mat-divider>
          }
        }
      </ndb-accordion-item>
    }

    @if (data.showFunctions) {
      <ndb-accordion-item [class.sticky]="data.isPinned"
                          [expanded]="data.functions.length > 0"
                          [disabled]="data.functions.length === 0">
        <div header>
          <h3>Functions</h3>
          <mat-chip [highlighted]="data.functions.length > 0"
                    [disabled]="data.functions.length === 0"
                    [disableRipple]="true">{{data.functions.length}}</mat-chip>
        </div>

        <div actions>
          @for (badge of badgesFunction; track badge.title) {
            <mat-icon class="badge"
                      [svgIcon]="badge.icon"
                      matTooltip="Filter by {{badge.title}}"
                      [attr.data-scope]="badge.dataScope"
                      [class.disabled]="!badge.isEnabled"
                      (click)="toggleFunctionFilter(badge)"></mat-icon>
          }

          <mat-icon class="button"
                    matTooltip="Reset filter"
                    [class.disabled]="disableResetFilterFunctions"
                    (click)="resetFunctionsFilter()">highlight_off</mat-icon>
        </div>

        <!-- NOTE: tracking with id will crash webapp when filtering per badge several times. -->
        @for (func of data.functions; track func.fullName) {
          <function-span ndbHighlight
                         [id]="cyrb53(func.name)"
                         [node]="func"
                         [memberOf]="data.object"
                         [documentation]="data.documentation"
                         [canCopy]="true"
                         [canDocument]="!data.hideDocumentation"
                         [badges]="data.badges"></function-span>
          @if (data.isMobile && !$last) {
            <mat-divider></mat-divider>
          }
        }
      </ndb-accordion-item>
    }
  </cdk-accordion>
} @else {
  <div class="actions">
    <span class="skt-circle"></span>
    @if (isMobile$ | async; as isMobile) {
    } @else {
      <span class="skt-circle"></span>
    }
    <span class="skt-circle"></span>
    <span class="skt-circle"></span>
  </div>

  <div class="title">
    <h1 class="stx stx-type">Loading...</h1>
    <div class="prototype">
      <span class="skt-circle skt-scope"></span>
      <span class="skt-circle skt-scope"></span>
      @if (kind === classKind) {
        <span class="skt-circle skt-class"></span>
      } @else if (kind === structKind) {
        <span class="skt-circle skt-struct"></span>
      }
    </div>
  </div>

  <div class="skt-accordion-item">
    <div class="skt-header">
      <div class="skt-button"></div>
      <h3 class="skt-title">Inherits</h3>
      <div class="skt-chip"></div>
    </div>

    <div class="skt-divider"></div>
  </div>

  <div class="skt-accordion-item">
    <div class="skt-header">
      <div class="skt-button"></div>
      <h3 class="skt-title">Inherited by</h3>
      <div class="skt-chip"></div>
    </div>

    <div class="skt-divider"></div>
  </div>

  <div class="skt-accordion-item">
    <div class="skt-header">
      <div class="skt-button"></div>
      <h3 class="skt-title">Properties</h3>
      <div class="skt-chip"></div>
    </div>

    <div class="skt-divider"></div>
  </div>

  <div class="skt-accordion-item">
    <div class="skt-header">
      <div class="skt-button"></div>
      <h3 class="skt-title">Functions</h3>
      <div class="skt-chip"></div>
    </div>

    <div class="skt-divider"></div>
  </div>
}
