:host {
  display: flex;
  flex-flow: column;

  & .header {
    display: inline-flex;
    align-items: center;

    & h3 {
      font-weight: normal;
      margin: 0;
    }

    & mat-chip {
      margin-left: 12px;
    }
  }

  & .inheritance {
    display: flex;
    align-items: center;
    min-height: 32px;

    & .align {
      display: inline-block;

      @media (max-width: 1025px) {
        width: 30px!important;
      }
    }

    & mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
      margin-right: 12px;
    }
  }
}

.title {
  display: flex;
  flex-flow: column;

  & .prototype {
    margin-bottom: 12px;

    & .skt-rect {
      margin: 3px;
    }
  }
}
