:host {
  display: flex;
  flex-flow: column;

  & [header] {
    display: inline-flex;
    align-items: center;

    & h3 {
      font-weight: normal;
      margin: 0;
    }

    & mat-chip {
      margin-left: 12px;
    }
  }

  & [actions] {
    display: flex;

    & .badge {
      &:not(.empty) {
        cursor: pointer;
      }

      &[data-scope="private"] {
        margin-right: 24px;
      }

      &.search {
        margin-left: 24px;
      }
    }

    @media (max-width: 1024px) {
      margin-bottom: 8px;
    }
  }

  & .inheritance {
    display: flex;
    align-items: center;
    min-height: 32px;

    & .align {
      display: inline-block;

      @media (max-width: 1025px) {
        width: 30px!important;
      }
    }

    & mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
      margin-right: 12px;
    }

    @media (max-width: 1025px) {
      min-height: 48px;
    }
  }
}

.title {
  display: flex;
  flex-flow: column;

  & .prototype {
    margin-bottom: 12px;

    & .skt-rect {
      margin: 3px;
    }
  }
}

.actions {
  display: flex;

  & .skt-circle {
    width: 24px;
    height: 24px;
    margin: 36px 12px 12px;

    background-color: var(--mat-divider-color);
  }

  @media (min-width: 1025px) {
    position: absolute;
    right: 40px;
  }

  @media (max-width: 1024px) {
    justify-content: center;
    align-items: center;
    height: 48px;
  }
}
