@let _isLoading = isLoading();
@let _scope = scope();

@if (!_isLoading) {
  @let _object = object()!;
  @let _titleBar = titleBar();
  @let _isMobile = isMobile();
  @let _isPinned = isPinned();
  @let _highlightEmpty = highlightEmptyObject();
  @let _badgesCount = badges();
  @let _align = align();

  <ndb-title-bar [title]="_titleBar.name"
                 [altTitle]="_titleBar.altName"
                 [node]="_object"
                 [hasDocumentation]="_titleBar.hasComment"
                 (toggleDocumentation)="toggleDocumentation(_object.name, _titleBar.hasComment)">
    <mat-icon class="badge" [attr.data-scope]="_scope" svgIcon="scope" [matTooltip]="_scope"></mat-icon>
    @if (_object.isAbstract) {
      <mat-icon class="badge" svgIcon="abstract" matTooltip="abstract"></mat-icon>
    }<!--
      @if (data.isFinal) {
        <mat-icon class="badge" svgIcon="final" title="final"></mat-icon>
      }-->
    @if (isNative()) {
      <mat-icon class="badge" svgIcon="native" matTooltip="native"></mat-icon>
    } @else if (isImportOnly()) {
      <mat-icon class="badge" svgIcon="importonly" matTooltip="importonly"></mat-icon>
    } @else {
      <mat-icon class="badge" svgIcon="static" matTooltip="script"></mat-icon>
    }
    @if (!_object.isStruct) {
      <mat-icon class="badge-class" svgIcon="class" matTooltip="class"></mat-icon>
    } @else {
      <mat-icon class="badge-struct" svgIcon="struct" matTooltip="struct"></mat-icon>
    }
  </ndb-title-bar>

  @if (showDocumentation() && _titleBar.hasComment) {
    @let _documentation = documentation();

    <ndb-documentation [body]="_documentation!.comment"
                       [object]="_object"></ndb-documentation>
  }

  <cdk-accordion multi="true">
    <!-- Parents -->
    @if (showParents()) {
      @let _parents = parents();
      @let _parentsCount = _parents.length;

      <ndb-accordion-item [expanded]="_parentsCount > 0"
                          [disabled]="_parentsCount === 0">
        <div header>
          <h3>Inherits</h3>
          <mat-chip [highlighted]="_parentsCount > 0"
                    [disabled]="_parentsCount === 0"
                    [disableRipple]="true">{{_parentsCount}}</mat-chip>
        </div>

        <div actions>
          <mat-slide-toggle
            color="primary"
            (change)="toggleAllMembers($event)"
            [formControl]="showMembers">
            Members of all parents are {{showMembers.value ? 'visible' : 'hidden'}}
          </mat-slide-toggle>
        </div>

        @for (parent of _parents; track parent.id) {
          <div class="inheritance stx">
            @if (!_isMobile) {
              <div class="align" [style.width]="_align"></div>
            }

            <mat-icon class="btn"
                      [class.disabled]="parent.isEmpty"
                      (click)="toggleMembers(parent)">
              {{areMembersVisible(parent) ? 'check_box' : 'check_box_outline_blank'}}
            </mat-icon>

            <mat-icon>subdirectory_arrow_right</mat-icon>

            <type-span [node]="parent" [isEmpty]="_highlightEmpty && parent.isEmpty" />
          </div>
        }
      </ndb-accordion-item>
    }

    <!-- Children -->
    @if (showChildren()) {
      @let _children = children();
      @let _childrenCount = _children.length;

      <ndb-accordion-item [disabled]="_childrenCount === 0">
        <div header>
          <h3>Inherited by</h3>
          <mat-chip [highlighted]="_childrenCount > 0"
                    [disabled]="_childrenCount === 0"
                    [disableRipple]="true">{{_childrenCount}}</mat-chip>
        </div>

        @for (child of _children; track child.id) {
          <div class="inheritance stx">
            @if (!_isMobile) {
              <div class="align" [style.width]="_align"></div>
            }

            <mat-icon></mat-icon>

            <mat-icon>subdirectory_arrow_left</mat-icon>

            <type-span [node]="child" [isEmpty]="_highlightEmpty && child.isEmpty"></type-span>
          </div>
        }
      </ndb-accordion-item>
    }

    <!-- Properties -->
    @if (showProperties()) {
      @let _properties = filteredProperties();
      @let _showOffset = showOffset();
      @let _badges = propertyBadges();
      @let _isFiltered = propertyBadge() !== undefined;
      @let _propertySearch = propertySearch();

      <ndb-accordion-item [class.sticky]="_isPinned"
                          [expanded]="_properties.length > 0"
                          [disabled]="_properties.length === 0">
        <div header>
          <h3>Properties</h3>
          <mat-chip [highlighted]="_properties.length > 0"
                    [disabled]="_properties.length === 0"
                    [disableRipple]="true">{{_properties.length}}</mat-chip>
        </div>

        <div actions>
          @for (badge of _badges; track badge.title) {
            <mat-icon class="badge"
                      [svgIcon]="badge.icon"
                      [matTooltip]="getFilterTooltip(badge, _isFiltered)"
                      [matTooltipDisabled]="badge.isEmpty"
                      [attr.data-scope]="badge.dataScope"
                      [class.disabled]="!badge.isEnabled"
                      [class.empty]="badge.isEmpty"
                      (click)="togglePropertyBadge(badge)"></mat-icon>
          }
          @if (_showOffset) {
            @let _sort = sortProperty();

            <mat-icon class="badge sort"
                      [matTooltip]="_sort === 'name' ? 'Sort by offset' : 'Sort by name'"
                      (click)="toggleSortByOffset()"
                      [svgIcon]="_sort === 'name' ? 'sort-numeric' : 'sort-alpha'">
            </mat-icon>
          }

          <mat-icon class="badge search"
                    [matTooltip]="_propertySearch === 'enable' ? 'Reset filter' : 'Filter by query'"
                    [matTooltipDisabled]="_propertySearch === 'empty'"
                    [class.disabled]="_propertySearch === 'disable'"
                    [class.empty]="_propertySearch === 'empty'"
                    (click)="togglePropertySearch()">search</mat-icon>
        </div>

        @for (prop of _properties; track prop.name) {
          <property-span ndbHighlight
                         [id]="prop.id"
                         [node]="prop"
                         [badges]="_badgesCount"
                         [showOffset]="_showOffset"></property-span>
          @if (_isMobile && !$last) {
            <mat-divider></mat-divider>
          }
        }
      </ndb-accordion-item>
    }

    <!-- Functions -->
    @if (showFunctions()) {
      @let _functions = filteredFunctions();
      @let _badges = functionBadges();
      @let _isFiltered = functionBadge() !== undefined;

      <ndb-accordion-item [class.sticky]="_isPinned"
                          [expanded]="_functions.length > 0"
                          [disabled]="_functions.length === 0">
        <div header>
          <h3>Functions</h3>
          <mat-chip [highlighted]="_functions.length > 0"
                    [disabled]="_functions.length === 0"
                    [disableRipple]="true">{{_functions.length}}</mat-chip>
        </div>

        <div actions>
          @for (badge of _badges; track badge.title) {
            <mat-icon class="badge"
                      [svgIcon]="badge.icon"
                      [matTooltip]="getFilterTooltip(badge, _isFiltered)"
                      [matTooltipDisabled]="badge.isEmpty"
                      [attr.data-scope]="badge.dataScope"
                      [class.disabled]="!badge.isEnabled"
                      [class.empty]="badge.isEmpty"
                      (click)="toggleFunctionBadge(badge)"></mat-icon>
          }
          <mat-icon class="badge search"
                    [matTooltip]="functionSearchFilter === 'enable' ? 'Reset filter' : 'Filter by query'"
                    [matTooltipDisabled]="functionSearchFilter === 'empty'"
                    [class.disabled]="functionSearchFilter === 'disable'"
                    [class.empty]="functionSearchFilter === 'empty'"
                    (click)="toggleFunctionSearchFilter()">search</mat-icon>
        </div>

        <!-- NOTE: tracking with id will crash webapp when filtering per badge several times. -->
        @for (func of _functions; track func.function.fullName) {
          <function-span ndbHighlight
                         [id]="cyrb53(func.function.name)"
                         [node]="func.function"
                         [memberOf]="func.memberOf"
                         [documentation]="func.documentation"
                         [canCopy]="true"
                         [canDocument]="true"
                         [badges]="_badgesCount"></function-span>
          @if (_isMobile && !$last) {
            <mat-divider></mat-divider>
          }
        }
      </ndb-accordion-item>
    }
  </cdk-accordion>
} @else {
  @let _isMobile = isMobile();

  <div class="actions">
    <span class="skt-circle"></span>
    @if (_isMobile) {
    } @else {
      <span class="skt-circle"></span>
    }
    <span class="skt-circle"></span>
    <span class="skt-circle"></span>
    <span class="skt-circle"></span>
  </div>

  <div class="title">
    <h1 class="stx stx-type">Loading...</h1>
    <div class="prototype">
      <span class="skt-circle skt-scope"></span>
      <span class="skt-circle skt-scope"></span>
      @if (isClass()) {
        <span class="skt-circle skt-class"></span>
      } @else if (isStruct()) {
        <span class="skt-circle skt-struct"></span>
      }
    </div>
  </div>

  <div class="skt-accordion-item">
    <div class="skt-header">
      <div class="skt-button"></div>
      <h3 class="skt-title">Inherits</h3>
      <div class="skt-chip"></div>
    </div>

    <div class="skt-divider"></div>
  </div>

  <div class="skt-accordion-item">
    <div class="skt-header">
      <div class="skt-button"></div>
      <h3 class="skt-title">Inherited by</h3>
      <div class="skt-chip"></div>
    </div>

    <div class="skt-divider"></div>
  </div>

  <div class="skt-accordion-item">
    <div class="skt-header">
      <div class="skt-button"></div>
      <h3 class="skt-title">Properties</h3>
      <div class="skt-chip"></div>
    </div>

    <div class="skt-divider"></div>
  </div>

  <div class="skt-accordion-item">
    <div class="skt-header">
      <div class="skt-button"></div>
      <h3 class="skt-title">Functions</h3>
      <div class="skt-chip"></div>
    </div>

    <div class="skt-divider"></div>
  </div>
}
