:host {
  display: flex;
  flex-flow: column;

  & [header] {
    display: inline-flex;
    align-items: center;

    & h3 {
      font-weight: normal;
      margin: 0;
    }

    & mat-chip {
      margin-left: 12px;
    }
  }

  & [actions] {
    display: flex;

    & .badge {
      &:not(.empty) {
        cursor: pointer;
      }

      &[data-scope="private"] {
        margin-right: 24px;
      }

      &.sort {
        margin-left: 24px;
      }

      &.search {
        margin-left: 24px;
      }
    }

    @media (max-width: 1024px) {
      margin: 8px 0;
    }
  }

  & .inheritance {
    display: flex;
    align-items: center;
    min-height: 32px;

    & .align {
      display: inline-block;

      @media (max-width: 1025px) {
        width: 30px!important;
      }
    }

    & mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
      margin-right: 12px;

      &.btn {
        &:not(.disabled) {
          cursor: pointer;
        }
      }
    }

    @media (max-width: 1025px) {
      min-height: 48px;

      & mat-icon {
        min-width: 18px;
      }

      & type-span {
        overflow-x: auto;
      }
    }
  }
}
