@if (functions$ | async; as functions) {
  <ndb-title-bar title="Global functions">
    <mat-icon class="badge-function" svgIcon="function" title="Global function"></mat-icon>
  </ndb-title-bar>

  @for (func of functions; track func.id) {
    <function-span [node]="func" [canCopy]="true"></function-span>
  }
} @else {
  <div class="title">
    <h1 class="stx stx-type">Loading...</h1>
    <div class="prototype">
      <span class="skt-function skt-rect"></span>
    </div>
  </div>

  @for (func of skeletons; track func) {
    <div class="skt-function-def">
      <div class="badges">
        <div class="skt-button"></div>
        <span class="skt-circle skt-scope"></span>
        <span class="skt-circle skt-scope"></span>
        <span class="skt-circle skt-scope"></span>
      </div>

      <span class="stx skt-title">{{func}}</span>
    </div>
  }
}
