@let _globals = globals();

@if (_globals) {
  <ndb-title-bar [title]="'Global functions'">
    <div class="setting">
      <mat-icon class="badge-function" svgIcon="function" matTooltip="function"></mat-icon>

      <mat-slide-toggle class="align" color="primary" [formControl]="ignoreDuplicate">
        {{ignoreDuplicate.value ? "Hide" : "Show"}} operators and casts
      </mat-slide-toggle>
    </div>
  </ndb-title-bar>

  @for (global of _globals; track global.func.fullName) {
    <function-span [node]="global.func"
                   [documentation]="global.documentation"
                   [canCopy]="true"
                   [canDocument]="true"
                   [canShare]="false" />

    @if (isMobile() && !$last) {
      <mat-divider></mat-divider>
    }
  }
} @else {
  <div class="title">
    <h1 class="stx stx-type">Loading...</h1>
    <div class="prototype">
      <span class="skt-function skt-rect"></span>
    </div>
  </div>

  @for (func of skeletons; track func) {
    <div class="skt-function-def">
      <div class="badges">
        <div class="skt-button"></div>
        <span class="skt-circle skt-scope"></span>
        <span class="skt-circle skt-scope"></span>
        <span class="skt-circle skt-scope"></span>
      </div>

      <span class="stx skt-title">{{func}}</span>
    </div>
  }
}
