.title {
  display: flex;
  flex-flow: column;

  & .prototype {
    margin-bottom: 12px;

    & .skt-rect {
      margin: 3px;
    }
  }
}

.skt-function-def {
  display: flex;
  align-items: start;
  height: 28px;
  margin: 24px 0;

  background-color: unset;
}

.skt-button {
  width: 20px;
  height: 20px;

  margin: 2px 14px 0 6px;

  border-radius: 50%;
  background-color: var(--mat-divider-color);
}

.skt-title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
  margin-left: 12px;

  color: transparent;

  border-radius: 4px;
  background-color: var(--mat-divider-color);
}

.badges {
  display: flex;
}
