:host {
  display: flex;
  flex-wrap: wrap;
  min-height: 48px;

  & .badges {
    display: flex;

    & .align-clipboard {
      display: inline-block;
      width: 32px;
    }
  }

  & .prototype {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
  }
}
