@if (node) {
  <div class="badges">
    <div class="align-clipboard"></div>
    <div class="align"></div>
    <mat-icon class="badge" [attr.data-scope]="scope" svgIcon="scope" [matTooltip]="scope"></mat-icon>
    @if (node.isPersistent) {
      <mat-icon class="badge" svgIcon="scope" matTooltip="persistent"></mat-icon>
    }<!--
    @if (node.isReplicated) {
      <mat-icon class="badge" svgIcon="replicated" matTooltip="replicated"></mat-icon>
    }
    @if (node.isInline) {
      <mat-icon class="badge" svgIcon="importonly" matTooltip="inline"></mat-icon>
    }
    @if (node.isEdit) {
      <mat-icon class="badge" svgIcon="enum" matTooltip="edit"></mat-icon>
    }
    @if (node.isConst) {
      <mat-icon class="badge" svgIcon="const" matTooltip="const"></mat-icon>
    }-->
    <div class="align" [style.width]="align"></div>
  </div>

  <div class="prototype stx">
    <span class="stx-text">{{node.name}}</span>
    <span class="stx-text">:&nbsp;</span>
    <type-span [node]="node.type"></type-span>
  </div>
}
