:host {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0;

  & .badges {
    display: flex;

    & .align-clipboard {
      display: inline-block;
      width: 32px;

      @media (max-width: 1025px) {
        display: none;
      }
    }

    & .align {
      @media (max-width: 1025px) {
        display: none;
      }
    }
  }

  & .prototype {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
  }

  @media (max-width: 1025px) {
    flex-flow: column;
  }
}
