<mat-toolbar>
  <button mat-icon-button
          title="Recent visits"
          routerLink="">
    <mat-icon>history</mat-icon>
  </button>

  <button mat-icon-button
          title="Bookmarks"
          routerLink="bookmarks">
    <mat-icon>bookmarks</mat-icon>
  </button>

  <div class="space"></div>

  <ndb-theme-mode></ndb-theme-mode>

  <ndb-ide-theme></ndb-ide-theme>

  <button mat-icon-button
          title="Settings"
          routerLink="settings">
    <mat-icon>settings</mat-icon>
  </button>

  <button mat-icon-button
          title="Readme"
          routerLink="readme">
    <mat-icon>help</mat-icon>
  </button>
</mat-toolbar>
