@use 'sass:map';
@use '@angular/material' as mat;

[header] {
  display: flex;
  align-items: center;
  flex: 1;

  & mat-icon {
    margin-right: 8px;
  }

  & .space {
    display: flex;
    flex: 1;
  }

  & mat-chip {
    margin: 0 4px;

    &.success {
      background-color: map.get(mat.$green-palette, 500);
    }
  }
}
