@if (node) {
  @if (canDocument && isVisible) {
    <ndb-documentation [data]="{documentation: documentation, node: node}"
                       (closed)="hideDocumentation()"></ndb-documentation>
  }

  <div class="content">
    <div class="badges">
      @if (canCopy) {
        <button mat-icon-button
                class="badge clipboard"
                matTooltip="Copy code to clipboard"
                matTooltipShowDelay="1500"
                [matMenuTriggerFor]="copyMenu"><mat-icon>content_copy</mat-icon></button>
        <mat-menu #copyMenu="matMenu">
          <button mat-menu-item (click)="copyPrototype()">Copy prototype</button>
          <button mat-menu-item (click)="copyCall()">Copy call</button>
          @if (fmtService.syntax === CodeSyntax.redscript) {
            <mat-divider></mat-divider>
            @if (!memberOf) {
              <button mat-menu-item
                      [disabled]="node.isNative"
                      matTooltip="You cannot replace a native global method."
                      [matTooltipDisabled]="!node.isNative"
                      (click)="copySpecial('replaceGlobal')">Copy replaceGlobal</button>
            } @else {
              <button mat-menu-item
                      [disabled]="node.isNative"
                      matTooltip="You cannot wrap a native method."
                      [matTooltipDisabled]="!node.isNative"
                      (click)="copySpecial('wrapMethod')">Copy wrapMethod</button>
              <button mat-menu-item
                      [disabled]="node.isNative"
                      matTooltip="You cannot replace a native method."
                      [matTooltipDisabled]="!node.isNative"
                      (click)="copySpecial('replaceMethod')">Copy replaceMethod</button>
            }
          } @else if (fmtService.syntax === CodeSyntax.lua) {
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="copySpecial('Observable')">Copy Observable</button>
            <button mat-menu-item (click)="copySpecial('Override')">Copy Override</button>
            <button mat-menu-item (click)="copySpecial('NewProxy')">Copy NewProxy</button>
          }
        </mat-menu>
      }
      @if (canDocument) {
        <button mat-icon-button
                class="badge"
                matTooltip="Documentation"
                matTooltipShowDelay="1500"
                [class.stx-doc]="hasDocumentation"
                (click)="toggleDocumentation()"
                [disabled]="documentation === undefined">
          <mat-icon>info_outline</mat-icon>
        </button>
      }
      @if (canShare) {
        <button mat-icon-button
                class="badge"
                matTooltip="Copy URL to clipboard"
                matTooltipShowDelay="1500"
                (click)="copyUrlToClipboard()">
          <mat-icon>share</mat-icon>
        </button>
      }
      <mat-icon class="badge" [attr.data-scope]="scope" svgIcon="scope" [matTooltip]="scope"></mat-icon>
      @if (node.isNative) {
        <mat-icon class="badge" svgIcon="native" matTooltip="native"></mat-icon>
      }
      @if (node.isStatic) {
        <mat-icon class="badge" svgIcon="static" matTooltip="static"></mat-icon>
      }
      @if (node.isFinal) {
        <mat-icon class="badge" svgIcon="final" matTooltip="final"></mat-icon>
      }
      @if (node.isThreadSafe) {
        <mat-icon class="badge" svgIcon="timer" matTooltip="threadsafe"></mat-icon>
      }
      @if (node.isCallback) {
        <mat-icon class="badge" svgIcon="callback" matTooltip="callback"></mat-icon>
      }
      @if (node.isConst) {
        <mat-icon class="badge" svgIcon="const" matTooltip="const"></mat-icon>
      }
      @if (node.isQuest) {
        <mat-icon class="badge" svgIcon="quest" matTooltip="quest"></mat-icon>
      }
      @if (node.isTimer) {
        <mat-icon class="badge" svgIcon="timer" matTooltip="timer"></mat-icon>
      }
      <div [style.width]="align"></div>
    </div>

    <div class="prototype stx" [class.break]="node.arguments.length > 0">
      <div class="group">
        <span class="stx-function"
              [class.stx-highlight]="hasFullName"
              [attr.clickable]="hasFullName"
              [matTooltip]="hasFullName ? node.fullName : ''"
              matTooltipShowDelay="200"
              matTooltipClass="tooltip-highlight"
              (click)="copyFullName()">{{node.name}}</span>
        <span class="stx-parenthesis">(</span>
      </div>

      @for (arg of node.arguments; track arg.name) {
        <div class="group">
          <argument-span [node]="arg"></argument-span>
          @if (!$last) {
            <span class="stx-comma">,&nbsp;</span>
          }
        </div>
      }

      <div class="group">
        <span class="stx-parenthesis">)</span>
        <span class="stx-text">&nbsp;→&nbsp;</span>
        <type-span [node]="node.returnType"></type-span>
      </div>
    </div>
  </div>
}
