@let _global = global();

@if (_global) {
  @let _documentation = documentation();

  <ndb-title-bar [title]="_global.name"
                 [node]="_global"
                 [hidden]="true">
    <mat-icon class="badge-function" svgIcon="function" matTooltip="function"></mat-icon>
  </ndb-title-bar>

  <function-span [node]="_global"
                 [documentation]="_documentation"
                 [canCopy]="true"
                 [canDocument]="true"
                 [canShare]="false"/>
} @else {
  <div class="skt-actions">
    <span class="skt-circle"></span>
    <span class="skt-circle"></span>
    <span class="skt-circle"></span>
  </div>

  <div class="skt-title">
    <h1 class="stx stx-type">Loading...</h1>
    <div class="skt-prototype">
      <span class="skt-rect skt-function"></span>
    </div>
  </div>
}
