@if (data$ | async; as data) {
  <ndb-title-bar [title]="data.function.name"
                 [node]="data.function"
                 [hidden]="true">
    <mat-icon class="badge-function" svgIcon="function" matTooltip="function"></mat-icon>
  </ndb-title-bar>

  <function-span [node]="data.function"
                 [documentation]="data.documentation"
                 [canCopy]="true"
                 [canDocument]="true"
                 [canShare]="false" />
} @else {
  <h1 class="stx stx-type">Loading...</h1>
  <div class="prototype">
    <span class="skt-rect skt-function"></span>
  </div>
}
