.setting {
  display: flex;
  align-items: center;

  & p {
    display: inline-flex;
    flex: 3;

    text-align: justify;
  }

  & mat-form-field {
    display: flex;
    flex: 1;

    margin-left: 48px;
  }
}

mat-divider {
  &:not(:first-of-type) {
    margin: 24px 0;
  }

  &:first-of-type {
    margin-bottom: 24px;
  }
}
