@mixin slide-toggle-theme($theme) {
  mat-slide-toggle {
    & label {
      min-width: 92px;
      margin-left: 12px!important;
    }

    &.align {
      & label {
        margin-top: 2px;
      }
    }
  }
}

@mixin slide-toggle-color($theme) {

}
