@mixin tab-theme($theme) {
  .mat-mdc-tab-group {
    height: 100%;

    border-right: 1px solid var(--mat-divider-color);

    & .mat-mdc-tab-header {

      & .mat-mdc-tab {
        width: 60px;
        min-width: auto;
        padding: 0;

        &:not(.mdc-tab--stacked) {
          height: 60px!important;
        }

        & .mdc-tab__text-label {
          flex-flow: column;
        }
      }
    }

    & .mat-mdc-tab-body {
      & .mat-mdc-tab-body-content {
        overflow: hidden;
      }
    }

    & .mat-mdc-tab-body-wrapper {
      height: inherit;
    }
  }
}

@mixin tab-color($theme) {

}
