<mat-tab-group>
  @for (tab of tabs | async; track tab.icon) {
    <mat-tab [disabled]="tab.nodes.length === 0">
      <ng-template mat-tab-label class="mat-tab-label">
        <mat-icon class="badge-{{tab.icon}}" [svgIcon]="tab.icon" [title]="tab.alt"></mat-icon>
        <span class="count">{{tab.nodes.length}}</span>
      </ng-template>
      @for (node of tab.nodes; track node.id) {
        <a class="stx-type" routerLink="/{{tab.uri}}/{{node.id}}">{{node.name}}</a>
      }
    </mat-tab>
  }
</mat-tab-group>
