<button mat-icon-button
        matTooltip="Change syntax of code"
        [matMenuTriggerFor]="menu">
  <mat-icon [svgIcon]="'code-syntax'"></mat-icon>
</button>

<mat-menu #menu="matMenu">
  @let _data = data();

  @if (_data) {
    <button mat-menu-item>Code syntax</button>
    @for (option of codeOptions; track option.value) {
      <button mat-menu-item (click)="selectCodeSyntax(option)">
        @if (option.value === _data.code - 1) {
          <mat-icon color="primary">radio_button_checked</mat-icon>
        } @else {
          <mat-icon>radio_button_unchecked</mat-icon>
        }
        {{option.name}}
      </button>
    }

    @if (!_data.isMobile) {
      <mat-divider></mat-divider>

      <button mat-menu-item>Clipboard syntax</button>
      @for (option of clipboardOptions; track option.value) {
        <button mat-menu-item (click)="selectClipboardSyntax(option)">
          @if (option.value === _data.clipboard - 1) {
            <mat-icon color="primary">radio_button_checked</mat-icon>
          } @else {
            <mat-icon>radio_button_unchecked</mat-icon>
          }
          {{option.name}}
        </button>
      }
    }
  }
</mat-menu>
