@use 'sass:map';

@mixin accordion-item-theme($theme) {
  $fg: map.get($theme, foreground);

  rd-accordion-item {
    & .header {
      cursor: pointer;
      display: flex;
      align-items: center;

      & button {
        margin-right: 12px;
      }
    }

    & .mat-divider {
      margin-top: 8px;
      margin-bottom: 12px;
    }

    & .disabled {
      & .header {
        cursor: default;
        color: map.get($fg, disabled);
      }
    }
  }
}

@mixin accordion-item-color($theme) {
  $fg: map.get($theme, foreground);

  & .disabled {
    & .header {
      color: map.get($fg, disabled);
    }
  }
}
