@use '@angular/material' as mat;

// Material components
@use './mat/tab' as *;
@use './mat/icon' as *;
@use './mat/button' as *;
@use './mat/slide-toggle' as *;
@use './mat/tooltip' as *;
@use './cdk/virtual-scroll' as *;

// App components
@use './app/page' as *;
@use './app/article' as *;
@use './app/accordion-item' as *;
@use './app/badge' as *;
@use './app/title-bar' as *;
@use './app/documentation' as *;
@use './app/highlight' as *;
@use './app/core' as *;

@mixin mat-component-themes($theme) {
  //@include mat.all-component-themes($theme);
  @include mat.core-theme($theme);
  @include mat.toolbar-theme($theme);
  @include mat.tabs-theme($theme);
  @include mat.icon-theme($theme);
  @include mat.icon-button-theme($theme);
  @include mat.button-theme($theme);
  @include mat.divider-theme($theme);
  @include mat.chips-theme($theme);
  @include mat.input-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.dialog-theme($theme);
  @include mat.menu-theme($theme);
  @include mat.select-theme($theme);
  @include mat.slide-toggle-theme($theme);
  @include mat.progress-spinner-theme($theme);
  @include mat.snack-bar-theme($theme);
  @include mat.tooltip-theme($theme);
  @include mat.badge-theme($theme);
}

@mixin mat-component-colors($theme) {
  //@include mat.all-component-colors($theme);
  @include mat.core-color($theme);
  @include mat.toolbar-color($theme);
  @include mat.tabs-color($theme);
  @include mat.icon-color($theme);
  @include mat.icon-button-color($theme);
  @include mat.button-color($theme);
  @include mat.divider-color($theme);
  @include mat.chips-color($theme);
  @include mat.input-color($theme);
  @include mat.form-field-color($theme);
  @include mat.dialog-color($theme);
  @include mat.menu-color($theme);
  @include mat.select-color($theme);
  @include mat.slide-toggle-color($theme);
  @include mat.progress-spinner-color($theme);
  @include mat.snack-bar-color($theme);
  @include mat.tooltip-color($theme);
  @include mat.badge-color($theme);
}

@mixin rd-component-themes($theme) {
  @include core-theme($theme);
  @include tab-theme($theme);
  @include icon-theme($theme);
  @include button-theme($theme);
  @include page-theme($theme);
  @include article-theme($theme);
  @include accordion-item-theme($theme);
  @include badge-theme($theme);
  @include slide-toggle-theme($theme);
  @include title-bar-theme($theme);
  @include documentation-theme($theme);
  @include highlight-theme($theme);
  @include tooltip-theme($theme);

  @include virtual-scroll-theme($theme);
}

@mixin rd-component-colors($theme) {
  @include core-color($theme);
  @include icon-color($theme);
  @include button-color($theme);
  @include article-color($theme);
  @include accordion-item-color($theme);
  @include badge-color($theme);
  @include slide-toggle-color($theme);
  @include title-bar-color($theme);
  @include documentation-color($theme);
  @include highlight-color($theme);
  @include tooltip-color($theme);
}
