@use 'sass:map';
@use '@angular/material' as mat;

/**
 * Palette of colors for badges.
 */
@function rd-badges($primary) {
  @return (
    primary: map.get($primary, default),

    protected: map.get(mat.$m2-amber-palette, 500),
    private: map.get(mat.$m2-red-palette, 500),

    script: #AB0613,

    enum: map.get(mat.$m2-light-blue-palette, 500),
    bitfield: map.get(mat.$m2-light-blue-palette, A200),
    class: map.get(mat.$m2-green-palette, 500),
    struct: map.get(mat.$m2-green-palette, A200),
    function: map.get(mat.$m2-amber-palette, A200),
  );
}
