<cdk-accordion-item #item="cdkAccordionItem"
                    [class.disabled]="disabled"
                    [expanded]="expanded"
                    [disabled]="disabled">
  <div class="container ide-background">
    <button mat-icon-button
            [disabled]="disabled"
            (click)="item.toggle()">
      @if (!item.expanded) {
        <mat-icon>keyboard_arrow_down</mat-icon>
      } @else {
        <mat-icon>keyboard_arrow_up</mat-icon>
      }
    </button>

    <div class="header" (click)="item.toggle()">
      <ng-content select="[header]"></ng-content>
    </div>

    <div class="actions">
      <ng-content select="[actions]"></ng-content>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="body" [style.display]="item.expanded ? '' : 'none'">
    <ng-content></ng-content>
  </div>
</cdk-accordion-item>
