.side {
  display: flex;
  gap: 24px;

  & mat-form-field {
    flex: 1;
  }

  & p {
    flex: 1;

    margin: 0 0 16px;
    padding: 16px;

    &.stx-doc {
      height: fit-content;
    }
  }
}

em {
  font-weight: bold;
  font-style: normal;
}
