<h1 mat-dialog-title>Documentation guidelines</h1>

<div mat-dialog-content>
  <h3>SYNTAX</h3>

  <p>
    Here are some examples on how you can write documentation to format it. On the left is what you write, on the right
    is how it will look like. Keep reading to the section <em>DO & DON'T DO</em> below to learn some writing styles.
  </p>

  <!-- NOTE: use &#8; to encode newline in <p> tag -->

  <h4>NEWLINES</h4>

  <ndb-guideline>
    <p>
      Welcome fellow modder!&#8;
      This is a newline.&#8;
      &#8;
      This is a new paragraph :)
    </p>
  </ndb-guideline>

  <mat-divider></mat-divider>

  <h4>TYPE REFERENCES</h4>

  <ndb-guideline>
    <p>
      You can reference types like [Vector4] and they are clickable.&#8;
      It works with primitive types like [Bool], [CName] but without redirection.&#8;
      If type is misspelled (case-sensitive) or not found, it is formatted but redirection will not work like [matRix].
    </p>
  </ndb-guideline>

  <mat-divider></mat-divider>

  <h4>SELF REFERENCES</h4>

  <ndb-guideline>
    <p>
      Let's suppose you are documenting the struct [GameTime].&#8;
      &#8;
      You can reference the property [this.seconds].&#8;
      You can reference the function [this.ToString].&#8;
      &#8;
      You can reference a non existing property / function like [this.Weird], but redirection will not work.
    </p>
  </ndb-guideline>

  <mat-divider></mat-divider>

  <h4>EXTERNAL REFERENCES</h4>

  <ndb-guideline>
    <p>
      Let's suppose you are documenting the class [vehicleBaseObject].&#8;
      &#8;
      You can reference another class property [VehicleComponent.damageLevel].&#8;
      You can reference another class function [VehicleComponent.IsDriver].&#8;
      You can reference an enum value [vehicleExitDirection.Front], it works with bitfields too.&#8;
      &#8;
      You can reference a non existing function [VehicleComponent.Weird], but redirection will not work.
    </p>
  </ndb-guideline>

  <mat-divider></mat-divider>

  <h4>LINKS</h4>

  <ndb-guideline>
    <p>
      You can add links to web sites.&#8;
      You can go to [Cyberpunk](https://www.cyberpunk.net/) for example.&#8;
      You could also learn some fundamentals about the
      [Entity Component System](https://en.wikipedia.org/wiki/Entity_component_system) pattern.
    </p>
  </ndb-guideline>

  <h3>DO & DON'T DO</h3>

  <p>To be done...</p>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CLOSE</button>
</div>
