.title {
  display: flex;
  align-items: center;

  & mat-chip {
    margin-left: 24px;
    margin-top: 20px;

    @media (max-width: 1025px) {
      margin-top: 6px;
    }
  }
}

function-span {
  min-height: auto;
}

.scope {
  display: flex;
  align-items: center;

  & mat-icon {
    margin-right: 12px;
  }
}

button {
  display: flex;

  margin: 48px auto;

  &.inline {
    display: inline-flex;
    margin: 0;
  }
}
