.title {
  display: flex;
  align-items: end;

  & mat-chip {
    margin-left: 24px;
    margin-bottom: 7px;
  }
}

function-span {
  min-height: auto;
}

.scope {
  display: flex;
  align-items: center;

  & mat-icon {
    margin-right: 12px;
  }
}

button {
  display: flex;

  margin: 48px auto;

  &.inline {
    display: inline-flex;
    margin: 0;
  }
}
