<div class="title">
  <h1>NativeDB</h1>
  <mat-chip matTooltip="webapp's version" [disableRipple]="true">v1.10.0</mat-chip>
</div>

<mat-divider></mat-divider>

<article>
  <div class="title">
    <mat-icon>waving_hand</mat-icon>
    <h2>Introduction</h2>
  </div>

  <p>
    This application contains all definitions of Cyberpunk 2077 as found with RTTI. You can search for enums, bitfields,
    classes, structs and global functions. For each classes and structs, you will find a list of their properties and
    functions. Furthermore, you can explore parent / child inheritance of classes and structs. Keep reading to learn
    more about some features.
  </p>
</article>

<mat-divider></mat-divider>

<article>
  <div class="title">
    <mat-icon>search</mat-icon>
    <h2>Search</h2>
  </div>

  <p>
    You can search in this database to filter enums, bitfields, classes, structs and functions. The list on the left
    will update itself as you type in. You can write multiple words to query content with an AND-like operation. You
    can write native and/or script names (also called aliases). It will search for both anyway. Search is always
    case-insensitive.
  </p>

  <p>
    You can use <code class="stx">*</code> to create queries such as:
  </p>

  <ul>
    <li><code class="stx">AI*task</code> : starts with <code class="stx">AI</code> and ends with <code class="stx">task</code>.</li>
    <li><code class="stx">money*</code> : starts with <code class="stx">money</code>.</li>
    <li><code class="stx">*ID</code> : ends with <code class="stx">ID</code>.</li>
    <li><code class="stx">*task*</code> : this is useless and the same as <code class="stx">task</code> alone.</li>
  </ul>

  <p>
    On the opposite, you can search for an exact match by turning strict mode on <mat-icon>check_box</mat-icon>. It
    works with options below too.
  </p>

  <p>
    You can choose what your query will search for. This icon <mat-icon>tune</mat-icon> provides a few options:
  </p>

  <ul>
    <li>Name: default, query will run on the name of enums, bitfields, classes, structs and global functions.</li>
    <li>Property: query will run on the name of properties in classes and structs.</li>
    <li>Function: query will run on the name of functions in classes, structs and global functions.</li>
    <li>Usage: query will run on the name of types in classes, structs and global functions.</li>
  </ul>

  <p>
    When you select property / function / usage, it will automatically filter the content of the class / struct you
    visit. You can show back all properties / functions by clicking on the <mat-icon>search</mat-icon> button.
  </p>

  <p id="search-by-usage">
    In the top-right corner of the page you visit, there is a <mat-icon>search</mat-icon> button. You can use it to
    automatically fill the search field with the name of the class / struct / enum / bitfield. It will also select the
    option Usage for you. This is a shortcut to quickly filter items in the left panel by usage.
  </p>

  <p>
    You can see items, in the left panel, with a <span class="stx-type disabled">darker color</span> to tell you
    "there is nothing to see". Whether its a class or a struct, it means there is no properties nor functions. However,
    it might still inherit from parents and / or be inherited by children. You can change this behavior in the settings.
  </p>
</article>

<mat-divider></mat-divider>

<article>
  <div class="title">
    <mat-icon>navigation</mat-icon>
    <h2>Navigate</h2>
  </div>

  <p>
    You can easily navigate between definitions by clicking on their <span class="stx-type">name</span>. It won't work
    with primitive types such as <span class="stx-type">Float</span>, <span class="stx-type">CName</span>, etc.
  </p>

  @let _gameInstance = gameInstance();
  @if (_gameInstance) {
    <function-span [node]="_gameInstance" [canCopy]="false" [canShare]="false"></function-span>
  }

  <p>
    A badge is a letter within a circle like above. It conveys information regarding metadata for functions, classes,
    etc. You can hover them to learn the exact meaning. Basically the letter is the letter of the first word with N for
    native, A for abstract, etc. The visibility of a property / function will be shown using colors like below:
  </p>

  <p class="scope">
    <mat-icon class="badge" data-scope="public" svgIcon="scope" title="public"></mat-icon>
    public
  </p>

  <p class="scope">
    <mat-icon class="badge" data-scope="protected" svgIcon="scope" title="protected"></mat-icon>
    protected
  </p>

  <p class="scope">
    <mat-icon class="badge" data-scope="private" svgIcon="scope" title="private"></mat-icon>
    private
  </p>

  <p>
    All definitions are using native names like <span class="stx-type">vehicleBaseObject</span>. But some also contains
    an alias name from scripts like <span class="stx-type">VehicleObject</span>. If you select <em>Redscript</em> as a
    code syntax in Settings, it will show aliases when possible. Independently of this option, the name will be
    <span class="stx stx-type stx-highlight">highlighted</span> to indicate there is a native / alias name. You can
    hover the name to show it in a tooltip, and click on it to copy the name in your clipboard.
  </p>

  <p>
    Properties and functions are sorted by visibility first (public > protected > private) and then alphabetically.
  </p>

  <p>
    Functions are defined with a (short) name and a full name. Most of the time, both are equivalent, but not always.
    When a function is defined with a different full name, it will be
    <span class="stx stx-function stx-highlight">highlighted</span>. This is useful if you are writing a mod with C++
    or Lua. In both languages, you may have to use the full name. You can get it by clicking on a function's name to
    copy the full name to your clipboard. Here an example:
  </p>

  @let _addFact = addFact();
  @if (_addFact) {
    <function-span [node]="_addFact" [canCopy]="false" [canShare]="false"></function-span>
  }

  <p>
    List of shortcuts you should know about to improve your experience:
  </p>

  <ul>
    <li>
      <span class="keyboard">CTRL</span> + <span class="keyboard">CLICK</span> /
      <span class="keyboard">⌘</span> + <span class="keyboard">CLICK</span> /
      <span class="keyboard">Middle Mouse Button</span> to open the page of a <span class="stx-type">definition</span>
      in a new tab / window.
    </li>

    <li>
      <span class="keyboard">U</span> + <span class="keyboard">CLICK</span> to use the
      <a href="/readme#search-by-usage">search-by-usage</a> feature on a definition's <span class="stx-type">name</span>.
    </li>
  </ul>

  <p>
    Finally, you can customize other behaviors of your navigation in the settings.
  </p>
</article>

<mat-divider></mat-divider>

<article>
  <div class="title">
    <mat-icon>share</mat-icon>
    <h2>Share</h2>
  </div>

  <p>
    You can reference any part of this database using the URL in your browser. All links are unique and will always
    point to the same content. You can also directly reference a function of a class / struct. You should use icon
    <mat-icon>share</mat-icon> when present to copy a more user-friendly link. By default, it will format the link using
    Markdown syntax. You can change this in the settings.
  </p>
</article>

<mat-divider></mat-divider>

<article>
  <div class="title">
    <mat-icon>bookmarks</mat-icon>
    <h2>Bookmarks</h2>
  </div>

  <p>
    You can bookmark any enum, bitfield, class, struct or global function. Use this icon
    <mat-icon>bookmark_border</mat-icon> to bookmark / un-bookmark. You can take a look at all your bookmarks on this
    page <button mat-icon-button
                 class="inline"
                 title="Bookmarks"
                 routerLink="/bookmarks"><mat-icon>bookmarks</mat-icon></button>.
  </p>
</article>

<mat-divider></mat-divider>

<article>
  <div class="title">
    <mat-icon>code</mat-icon>
    <h2>Grab code</h2>
  </div>

  <p>
    You can generate code to your clipboard for different languages to quickly use special features. You can use this
    icon <mat-icon>content_copy</mat-icon> which is present for all functions. You can change the option
    <em>Clipboard syntax</em> with the language you are coding with in Settings or using this icon
    <mat-icon svgIcon="code-syntax"></mat-icon>.
  </p>

  <p>
    A context menu allows you to pick the kind of code you want. For all languages, it will provide the following
    options:
  </p>

  <ul>
    <li>Copy prototype: of the function like seen in webapp (without breaks).</li>
    <li>Copy call: of the function to use it in your code.</li>
  </ul>

  <p>
    When option <em>Clipboard syntax</em> is <em>Redscript</em>:
  </p>

  <ul>
    <li>Copy wrapMethod: append a new function on top of an existing function.</li>
    <li>Copy replaceMethod: replace implementation of a function.</li>
    <li>Copy replaceGlobal: replace implementation of a global function.</li>
  </ul>

  <p>
    When option <em>Clipboard syntax</em> is <em>Lua · CET</em>:
  </p>

  <ul>
    <li>Copy Observable: listen just before the execution of a function.</li>
    <li>Copy ObservableAfter: listen after the execution of a function.</li>
    <li>Copy Override: override implementation of a function.</li>
    <li>Copy NewProxy: listen for game's script events.</li>
  </ul>

  <p>
    You can learn more about these features for
    <a href="https://wiki.redmodding.org/redscript/language/language-features/annotations">Redscript</a> and
    <a href="https://wiki.redmodding.org/cyber-engine-tweaks/cet-functions/observers">CET</a> on the wiki.
  </p>
</article>

<mat-divider></mat-divider>

<article>
  <div class="title">
    <mat-icon>library_books</mat-icon>
    <h2>Documentation</h2>
  </div>

  <p>
    You can see documentation for classes, structs and their functions. It is read-only when browsing from NativeDB.
  </p>

  <p>
    By default, when the body of a class / struct is documented (same with functions), it will be visible. If you want
    to only show documentation when you need it, you can change the option "Show / hide documented classes, structs and
    functions by default." in the page Settings. You can then toggle documentation with this icon
    <mat-icon class="stx-doc">info_outline</mat-icon>.
  </p>

  <p>
    Documentation is stored using <a href="https://wiki.redmodding.org/nativedb-documentation" target="_blank">
    GitBook</a>. A custom format and syntax is implemented to reference other definitions in NativeDB. GitBook also
    provides everything to contribute and write documentation, for free. You can contribute (like fix a mistake, a
    typo, add a behavior you discovered while digging) using GitBook's editor. You can start by
    <a href="https://wiki.redmodding.org/nativedb-documentation/contributing" target="_blank">reading these guides</a>.
    It provides enough information about the process to help the community too.
  </p>
</article>

<mat-divider></mat-divider>

<article>
  <div class="title">
    <mat-icon>format_color_fill</mat-icon>
    <h2>Themes</h2>
  </div>

  <p>
    You can manually switch the appearance of this application between light and dark mode. By default, it will follow
    your system preferences. Finally, you can customize the appearance of the code using pre-defined themes. You can
    find them in the toolbar, with IDE-like themes.
  </p>
</article>

<button mat-raised-button
        color="primary"
        routerLink="/s/{{id}}">GOT IT</button>
