:host {
  height: 100%;
}

.home {
  cursor: pointer;
}

.version {
  margin-left: 24px;
}

.space {
  display: flex;
  flex: 1;
}

.search {
  display: flex;
  flex: 4;

  & rd-search {
    width: 100%;
  }
}

section {
  display: flex;
  height: calc(100% - 64px);
}

.page {
  flex: 1;
  overflow-y: scroll;

  padding: 0 24px 24px;
}

button {
  margin-right: 24px;
}
