<mat-toolbar>
  <span class="home" routerLink="">NativeDB</span>

  <mat-chip class="version" [disableRipple]="true">v2.02</mat-chip>

  <div class="space"></div>

  <button mat-icon-button
          title="Recent visits"
          routerLink="history">
    <mat-icon>history</mat-icon>
  </button>

  <button mat-icon-button
          title="Bookmarks"
          routerLink="bookmarks">
    <mat-icon>bookmarks</mat-icon>
  </button>

  <div class="search">
    <ndb-search></ndb-search>
  </div>

  <div class="space"></div>

  <ndb-theme-mode></ndb-theme-mode>

  <ndb-ide-theme></ndb-ide-theme>

  <button mat-icon-button
          title="Settings"
          routerLink="settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<section>
  <ndb-tabs></ndb-tabs>

  <div #page class="page">
    <router-outlet></router-outlet>
  </div>
</section>
