:host {
  height: 100%;
}

section {
  display: flex;
  height: calc(100% - 64px);

  @media (max-width: 1024px) {
    height: calc(100% - 2 * 56px);
  }
}

.page {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;

  padding: 0 24px 24px;

  @media (max-width: 1024px) {
    padding: 0 12px 12px;
  }
}

@media (min-width: 1025px) {
  ndb-bottom-bar {
    display: none;
  }
}
