<mat-toolbar color="primary">
  <span class="home" routerLink="">NativeDB</span>

  <mat-chip class="version" [disableRipple]="true">v2.02</mat-chip>

  <div class="space"></div>

  <div class="search">
    <rd-search></rd-search>
  </div>

  <div class="space"></div>

  <rd-theme-mode></rd-theme-mode>

  <button mat-icon-button
          title="Settings"
          routerLink="settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<section>
  <red-ast-tabs></red-ast-tabs>

  <div #page class="page">
    <router-outlet></router-outlet>
  </div>
</section>
