.field {
  display: flex;

  & .field-description {
    display: flex;
    flex-flow: column;
    flex: 2;
  }

  & mat-form-field {
    flex: 1;
    height: fit-content;
    margin-left: 24px;
  }
}

.title {
  display: flex;
  gap: 24px;

  & h2 {
    display: inline-flex;
    justify-content: center;
    flex: 1;
  }
}

.actions {
  position: sticky;
  bottom: -23px;
  display: flex;
}

button {
  display: flex;
  margin: 24px auto;
}
