<div class="title">
  <h1 class="stx stx-type">{{title}}</h1>
  <div class="prototype">
    <ng-content></ng-content>
  </div>
</div>

<div class="actions">
  <button mat-icon-button
          matTooltip="Copy URL to clipboard"
          (click)="copyUrl()">
    <mat-icon>share</mat-icon>
  </button>

  @if (_node !== undefined) {
    @if (!hideDocumentation) {
      <button mat-icon-button
              matTooltip="Documentation"
              [class.stx-doc]="hasDocumentation"
              (click)="toggleDocumentation.emit()">
        <mat-icon>info_outline</mat-icon>
      </button>
    }

    <button mat-icon-button
            [matTooltip]="isBookmarked ? 'Remove bookmark' : 'Add bookmark'"
            (click)="toggleBookmark()">
      @if (isBookmarked) {
        <mat-icon>bookmark</mat-icon>
      } @else {
        <mat-icon>bookmark_border</mat-icon>
      }
    </button>
  }

  @if (!hidden) {
    <button mat-icon-button
            class="pin"
            [matTooltip]="isPinned ? 'Unpin title when scrolling' : 'Pin title to the top when scrolling'"
            (click)="togglePin()">
      <mat-icon [svgIcon]="isPinned ? 'pin-off' : 'pin'"></mat-icon>
    </button>
  }
</div>
