@let _altTitle = altTitle();
@let _node = node();

<div class="title">
  <h1 class="stx stx-type"
      [class.stx-highlight]="!!_altTitle"
      [attr.clickable]="!!_altTitle"
      [matTooltip]="_altTitle"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
      (click)="copyAltTitle()">{{title()}}</h1>
  <div class="prototype">
    <ng-content></ng-content>
  </div>
</div>

<div class="actions">
  @if (canSearchByUsage()) {
    <button mat-icon-button
            matTooltip="Search by usage"
            (click)="searchByUsage()">
      <mat-icon>search</mat-icon>
    </button>
  }

  <button mat-icon-button
          matTooltip="Copy URL to clipboard"
          (click)="copyUrl()">
    <mat-icon>share</mat-icon>
  </button>

  @if (_node !== undefined) {
    @let _hideDocumentation = hideDocumentation();
    @let _isBookmarked = isBookmarked();

    @if (!_hideDocumentation) {
      @let _hasDocumentation = hasDocumentation();

      <button mat-icon-button
              [matTooltip]="_hasDocumentation ? 'Documentation' : 'Start documenting with GitBook'"
              [class.stx-doc]="_hasDocumentation"
              (click)="toggleDocumentation.emit()">
        <mat-icon>info_outline</mat-icon>
      </button>
    }

    <button mat-icon-button
            [matTooltip]="_isBookmarked ? 'Remove bookmark' : 'Add bookmark'"
            (click)="toggleBookmark()">
      @if (_isBookmarked) {
        <mat-icon>bookmark</mat-icon>
      } @else {
        <mat-icon>bookmark_border</mat-icon>
      }
    </button>
  }

  @if (!hidden()) {
    @let _isPinned = isPinned();

    <button mat-icon-button
            class="pin"
            [matTooltip]="_isPinned ? 'Unpin title when scrolling' : 'Pin title to the top when scrolling'"
            (click)="togglePin()">
      <mat-icon [svgIcon]="_isPinned ? 'pin-off' : 'pin'"></mat-icon>
    </button>
  }
</div>
