@use 'sass:map';

@mixin accordion-item-theme($theme) {
  $fg: map.get($theme, foreground);

  ndb-accordion-item {
    &.sticky {
      & .container {
        z-index: 1;
        position: sticky;
        top: 100px;

        @media (max-width: 1024px) {
          top: 132px;
        }
      }
    }

    & .container {
      position: relative;
      display: flex;
      align-items: center;

      & .wrapper {
        display: flex;
        flex: 1;

        & button {
          cursor: pointer;

          margin-right: 12px;
        }

        & .header {
          user-select: none;
          cursor: pointer;

          display: flex;
          flex: 1;
        }
      }

      & .actions {
        position: absolute;
        left: 272px;
        display: flex;
        align-items: center;
        height: 100%;

        @media (max-width: 1024px) {
          position: unset;
          left: unset;
        }
      }

      @media (max-width: 1024px) {
        flex-flow: column;
        align-items: start;
      }
    }

    & .mat-divider {
      margin-top: 8px;
      margin-bottom: 12px;
    }

    & .disabled {
      & .container {
        cursor: default;
        color: map.get($fg, disabled);
      }
    }
  }

  .skt-accordion-item {
    user-select: none;

    & .skt-header {
      cursor: pointer;
      display: flex;
      align-items: center;

      & .skt-button {
        width: 24px;
        height: 24px;

        margin: 12px 24px 12px 12px;

        border-radius: 50%;
        background-color: var(--mat-divider-color);
      }

      & .skt-title {
        margin: 0;

        font-weight: normal;
        color: transparent;

        border-radius: 4px;
        background-color: var(--mat-divider-color);
      }

      & .skt-chip {
        width: 32px;
        height: 32px;
        margin-left: 12px;

        text-align: center;

        border-radius: 50%;
        background-color: var(--mat-divider-color);
      }
    }

    & .skt-divider {
      width: inherit;
      height: 1px;
      margin-top: 8px;
      margin-bottom: 12px;

      background-color: var(--mat-divider-color);
    }
  }
}

@mixin accordion-item-color($theme) {
  $fg: map.get($theme, foreground);

  ndb-accordion-item {
    & .disabled {
      & .container {
        color: map.get($fg, disabled);
      }
    }
  }
}
