@use 'sass:map';
@use 'sass:color';

@mixin documentation-theme($theme) {
  ndb-documentation,
  .ndb-documentation {
    & p {
      white-space: pre-wrap;
      background-color: rgba(0, 0, 0, 0.05);

      &.disabled {
        background-color: rgba(127, 127, 127, 0.2);
        border-left-color: #7F7F7F!important;
      }

      & a {
        text-decoration: none;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      & pre {
        display: inline-flex;
        margin: 0;
        padding: 0 4px;

        font-family: inherit;
        color: var(--ndb-ide-text);
        border: 1px solid #6f6f6f;
        border-radius: 4px;
        background-color: var(--ndb-ide-background);
      }
    }
  }
}

@mixin documentation-color($theme) {
  ndb-documentation,
  .ndb-documentation {
    & p {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
