@mixin documentation-theme($theme) {
  ndb-documentation {
    & p {
      white-space: pre-wrap;
      background-color: rgba(0, 0, 0, 0.05);

      & a:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    & mat-form-field {
      width: 100%;

      & .mat-mdc-text-field-wrapper {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@mixin documentation-color($theme) {
  ndb-documentation {
    & p {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
