@mixin highlight-theme($theme) {
  $color: rgba(0, 0, 0, 0.1);

  %highlight {
    border-radius: 4px;

    @media (min-width: 1024px) {
      min-height: 24px;
    }
  }

  enum,
  bitfield {
    & .highlight {
      @extend %highlight;

      background-color: $color;
    }
  }

  object {
    & property-span {
      @extend %highlight;

      &.highlight {
        background-color: $color;
      }
    }

    & function-span {
      &.highlight {
        & .content {
          @extend %highlight;

          background-color: $color;
        }
      }
    }
  }
}

@mixin highlight-color($theme) {
  $color: rgba(255, 255, 255, 0.1);

  enum,
  bitfield {
    & .highlight {
      background-color: $color;
    }
  }

  object {
    & property-span {
      &.highlight {
        background-color: $color;
      }
    }

    & function-span {
      &.highlight {
        & .content {
          background-color: $color;
        }
      }
    }
  }
}
