@mixin highlight-theme($theme) {
  %highlight {
    position: relative;
    top: -2px;
    left: -4px;
    padding: 2px 4px;

    border-radius: 4px;

    @media (min-width: 1024px) {
      height: 24px;
    }
  }

  enum,
  bitfield {
    & .highlight {
      position: relative;

      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
  }

  object {
    & property-span {
      @extend %highlight;

      &.highlight {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    & function-span {
      &.highlight {
        & .content {
          @extend %highlight;

          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

@mixin highlight-color($theme) {
  enum,
  bitfield {
    & .highlight {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  object {
    & property-span {
      &.highlight {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    & function-span {
      &.highlight {
        & .content {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
