@use 'sass:map';

@mixin title-bar-theme($theme) {
  ndb-title-bar {
    z-index: 1;
    display: flex;
    top: 0;

    &.pin {
      position: sticky;
    }

    & .title {
      flex: 1;

      & h1 {
        width: fit-content;

        @media (max-width: 1025px) {
          width: auto;
        }
      }
    }

    & .prototype {
      margin-bottom: 12px;
    }

    & .actions {
      display: flex;

      @media (max-width: 1025px) {
        justify-content: center;
      }
    }

    & button {
      margin-top: 24px;

      @media (max-width: 1025px) {
        margin-top: 12px;
      }
    }

    @media (max-width: 1025px) {
      flex-flow: column-reverse;

      h1 {
        overflow-x: auto;
        margin-top: 0;
      }
    }
  }
}

@mixin title-bar-color($theme) {

}
