@if (bitfield$ | async; as bitfield) {
  <h1 class="stx-type">{{bitfield.name}}</h1>
  <mat-icon class="badge-bitfield" svgIcon="bitfield"></mat-icon>

  @for (field of bitfield.fields; track field.key) {
    <p class="field">
      <button mat-icon-button (click)="copyClipboard(bitfield, field.key)"><mat-icon>content_copy</mat-icon></button>
      <span class="stx-text">{{field.key}}</span>
      <span class="stx-text">&nbsp;=&nbsp;</span>
      <span class="stx-number">1</span>
      <span class="stx-text">&nbsp;<<&nbsp;</span>
      <span class="stx-number">{{field.value}}</span>
    </p>
  }
} @else {
  <h1>Loading...</h1>
}
