<h1 mat-dialog-title>Update</h1>

<div mat-dialog-content>
  <p>A new version of the RTTI dump is available.</p>
  <p>Click on Update or reload this page to download and use the latest data.</p>
  <p>Make sure you have closed all browser's tabs running this application to proceed.</p>

  <p>Current: v{{data.current}}</p>
  <p>Latest: v{{data.latest}}</p>
</div>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Ignore</button>
  <button mat-button [mat-dialog-close]="true">Update</button>
</div>
