@use 'sass:map';

@mixin rd-ide-syntax-themes($theme) {
  $badges: map.get($theme, badges);

  .stx {
    font-family: Consolas, monospace; /*'JetBrains Mono', */
  }

  .stx-doc {
    @extend .stx;
    color: forestgreen;

    & mat-icon {
      color: forestgreen;
    }
  }

  .stx-text {
    @extend .stx;
    color: lightgrey;
  }

  .stx-comma {
    @extend .stx;
    color: lightgrey;
  }

  .stx-parenthesis {
    @extend .stx;
    color: mediumpurple;
  }

  .stx-lang {
    @extend .stx;
    color: steelblue;
  }

  .stx-scope {
    @extend .stx-lang;

    &[data-scope="protected"] {
      color: orange;
    }

    &[data-scope="private"] {
      color: firebrick;
    }
  }

  .stx-function {
    @extend .stx;
    color: lightseagreen;
  }

  .stx-number {
    @extend .stx;
    color: lightgoldenrodyellow;
  }

  .stx-type {
    @extend .stx;
    color: mediumseagreen;

    &.disabled {
      color: darken(mediumseagreen, 15%);
    }
  }

  .stx-primitive-type {
    @extend .stx;
    color: mediumseagreen;
  }

  .skt-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;

    border-radius: 50%;
  }

  .skt-scope {
    background-color: steelblue;
  }

  .skt-enum {
    background-color: map.get($badges, enum);
  }

  .skt-bitfield {
    background-color: map.get($badges, bitfield);
  }

  .skt-class {
    background-color: map.get($badges, class);
  }

  .skt-struct {
    background-color: map.get($badges, struct);
  }

  .skt-function {
    background-color: map.get($badges, function);
  }
}
