@if (enum$ | async; as enum) {
  <h1 class="stx stx-type">{{enum.name}}</h1>
  <mat-icon class="badge-enum" svgIcon="enum"></mat-icon>

  @for (member of enum.members; track member.key) {
    <p class="field stx">
      <button mat-icon-button
              class="badge"
              (click)="copyClipboard(enum, member.key)"><mat-icon>content_copy</mat-icon></button>
      <span class="stx-text">{{member.key}}</span>
      <span class="stx-text">&nbsp;=&nbsp;</span>
      <span class="stx-number">{{member.value}}</span>
    </p>
  }
} @else {
  <h1 class="stx">Loading...</h1>
  <div class="prototype">
    <span class="skt-rect skt-enum"></span>
  </div>
}
