@if (data$ | async; as data) {
  <ndb-title-bar [title]="data.name"
                 [altTitle]="data.altName"
                 [node]="data.node"
                 [hideDocumentation]="true">
    <mat-icon class="badge-enum" svgIcon="enum" matTooltip="enum"></mat-icon>
  </ndb-title-bar>

  @for (member of data.node.members; track member.key) {
    <p class="field stx"
       ndbHighlight
       [id]="cyrb53(member.key)">
      <button mat-icon-button
              class="badge clipboard"
              (click)="copyClipboard(data.node, member.key)"><mat-icon>content_copy</mat-icon></button>
      <span class="stx-text">{{member.key}}</span>
      <span class="stx-text">&nbsp;=&nbsp;</span>
      <span class="stx-number">{{member.value}}</span>
    </p>
  }
} @else {
  <h1 class="stx">Loading...</h1>
  <div class="prototype">
    <span class="skt-rect skt-enum"></span>
  </div>
}
