@use 'sass:color';

@mixin ide-intellij-theme($is-light: true) {
  @if $is-light {
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

    .ide-intellij-theme {
      --ndb-ide-typography-family: #{'JetBrains Mono', monospace};
      --ndb-ide-typography-size: 1rem;

      --ndb-ide-background: white;

      --ndb-ide-documentation: #6D6D6D;
      --ndb-ide-text: black;
      --ndb-ide-comma: var(--ndb-ide-text);
      --ndb-ide-parenthesis: var(--ndb-ide-text);
      --ndb-ide-language: #0033B3;
      --ndb-ide-function: #00627A;
      --ndb-ide-argument: var(--ndb-ide-text);
      --ndb-ide-number: #1750EB;
      --ndb-ide-type: var(--ndb-ide-text);
      --ndb-ide-type-disabled: #{color.adjust(black, $lightness: +30%)};
      --ndb-ide-type-skeleton: #{color.change(black, $alpha: 0.5)};
      --ndb-ide-primitive-type: var(--ndb-ide-language);
    }
  } @else {
    .ide-intellij-theme {
      &.dark-theme {
        --ndb-ide-background: #2B2B2B;
        --ndb-ide-toolbar: #3C3F41;

        --ndb-ide-documentation: #629755;
        --ndb-ide-text: #A9B7C6;
        --ndb-ide-comma: #CC7832;
        //--ndb-ide-parenthesis: var(--ndb-ide-text);
        --ndb-ide-language: var(--ndb-ide-comma);
        --ndb-ide-function: #FFC66D;
        //--ndb-ide-argument: var(--ndb-ide-text);
        --ndb-ide-number: #6897BB;
        //--ndb-ide-type: var(--ndb-ide-text);
        --ndb-ide-type-disabled: #{color.adjust(#A9B7C6, $lightness: -15%)};
        --ndb-ide-type-skeleton: #{color.change(#A9B7C6, $alpha: 0.5)};
        //--ndb-ide-primitive-type: var(--ndb-ide-language);
      }
    }
  }
}
