@use 'sass:color';

@mixin ide-vscode-theme($is-light: true) {
  @if $is-light {
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

    .ide-vscode-theme {
      --ndb-ide-typography-family: #{Consolas, 'Inconsolata', monospace};
      --ndb-ide-typography-size: 1rem;

      --ndb-ide-background: white;

      --ndb-ide-documentation: #008000;
      --ndb-ide-text: black;
      --ndb-ide-comma: var(--ndb-ide-text);
      --ndb-ide-parenthesis: #31A0AF;
      --ndb-ide-language: #0000FF;
      --ndb-ide-function: #795E26;
      --ndb-ide-argument: #001080;
      --ndb-ide-number: #098658;
      --ndb-ide-type: #267F99;
      --ndb-ide-type-disabled: #{color.adjust(#267F99, $lightness: -20%)};
      --ndb-ide-type-skeleton: #{color.change(#267F99, $alpha: 0.5)};
      --ndb-ide-primitive-type: var(--ndb-ide-type);
    }
  } @else {
    .ide-vscode-theme {
      &.dark-theme {
        --ndb-ide-background: #1F1F1F;
        --ndb-ide-toolbar: #181818;

        --ndb-ide-documentation: #6A9955;
        --ndb-ide-text: #C8C8C8;
        //--ndb-ide-comma: var(--ndb-ide-text);
        --ndb-ide-parenthesis: #DA5583;
        --ndb-ide-language: #569CD6;
        --ndb-ide-function: #DCDCAA;
        --ndb-ide-argument: #9CDCFE;
        --ndb-ide-number: #B5CEA8;
        --ndb-ide-type: #4EC9B0;
        --ndb-ide-type-disabled: #{color.adjust(#4EC9B0, $lightness: -20%)};
        --ndb-ide-type-skeleton: #{color.change(#4EC9B0, $alpha: 0.5)};
        //--ndb-ide-primitive-type: var(--ndb-ide-type);
      }
    }
  }
}
